type sysfs_flashlight, sysfs_type, fs_type;
allow cameraserver sysfs_flashlight:file rw_file_perms; 
allow cameraserver socket_device:sock_file write;
