allow hwservicemanager init:dir search;
allow hwservicemanager init:file { open read search };
allow hwservicemanager init:process getattr;
allow hwservicemanager init:binder call;
