allow netmgrd shell_exec:file { execute execute_no_trans getattr open read };
allow netmgrd toolbox_exec:file { execute execute_no_trans getattr open read };
allow netmgrd net_data_file:dir read;
allow netmgrd netd_socket:sock_file write;

