allow rild system_prop:property_service set;
allow rild radio_data_file:file { getattr lock open read write };
allow rild servicemanager:binder call;
allow rild audioserver_service:service_manager find;
