#allow untrusted_app_25 debugsfs_wakelock:file read;
allow untrusted_app_25 debugsfs_wakelock:file { getattr open };
allow untrusted_app_25 rootfs:dir { open read };
allow untrusted_app_25 camera_prop:file { getattr open read };
#allow untrusted_app_25 kernel:system syslog_read;
